<div *ngFor="let item of data" class="d-md-none">
  <app-cards [isCheckBoxtoChild] = "checkDisable(item)"(recordSelected)="recordSelected($event)" [cardDetail]='item'>
  
      <div class="row">
        <ng-container *ngFor="let cfg of config">
          <div class="col-6">
           <span class="small"> {{cfg.orderLabel}}</span> - <span class="came-case">{{item[cfg.orderKey]}}</span>
          </div>
        </ng-container>
      </div>
 
  </app-cards>
</div>
<ng-container *ngIf="data.length == 0">
  <td colspan="9">
    <p>{{noRecord}}</p>
  </td>
</ng-container>